@import url('../icons/style.css');
.icon-user-follow, .icon-edit{
    font-size: 35px;
}
.btn-edit {
    padding: 0;
}
.row {
    margin-bottom: 40px;
}
.right-block {
    display: flex;
    justify-content: end;
}
.profile-block {
    display: flex;
    align-items: center;
}
.profile-block > h3 {
    margin: 0 5px 0 0;
    text-transform: capitalize;
}